*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: #c5e8ee;
    height: 100vh;

}

header{
    display: flex;
    justify-content: space-between;
    background-color: #a1d7df;
    height: 150px;
}

header .logo{
    padding: 30px;
    background-color: white;
}   

header .navegacao .links{
    align-items: center;
    display: flex;
    padding: 30px;
}

header .navegacao .links a{
    margin: 25px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: .5s;
}

header .navegacao .links:hover a{
    opacity: .5;
}

header .navegacao .links a:hover{
    opacity: 1;
    background-color: #2d9cac;
    transition: .3s;
    border-radius: 15px;
    font-size: 22px;
}

main .formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 100%;
}

main .formulario form h1{
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

main .formulario form .informacoes{
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}

main .formulario form .informacoes{
    margin-bottom: 50px;
}

main .formulario .mapa{
    width: 50%;
    height: 500px;
    border-radius: 50px;
    margin-bottom: 50px;
    padding: 30px;
}

section{
    width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;

}

main section .contatos{
    width: 60%;
    display: grid;
    margin: 40px 0;
    padding: 20px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;

}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a1d7df;
    height: 6%;
}

main section .contatos div{
    display: flex;
    align-items: center;
}

main section .contatos div img{
    width: 20px;
    margin: 10px;
}
